__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.a
*.o
*.log

.venv/
venv/
env/
ENV/
uie_cpu/
**/uie_cpu/
site-packages/
**/site-packages/
bin/
include/
lib/
pyvenv.cfg

*.mp4
*.avi
*.mov
*.mkv
*.npz
calib_out/
